/plugins/org.eclipse.mylyn.docs.intent/bin
/plugins/org.eclipse.mylyn.docs.intent.client.compiler/bin
/plugins/org.eclipse.mylyn.docs.intent.client.indexer/bin
/plugins/org.eclipse.mylyn.docs.intent.client.synchronizer/bin
/plugins/org.eclipse.mylyn.docs.intent.client.ui/bin
/plugins/org.eclipse.mylyn.docs.intent.client.ui.cdo/bin
/plugins/org.eclipse.mylyn.docs.intent.client.ui.ide/bin
/plugins/org.eclipse.mylyn.docs.intent.collab/bin
/plugins/org.eclipse.mylyn.docs.intent.collab.cdo/bin
/plugins/org.eclipse.mylyn.docs.intent.collab.common/bin
/plugins/org.eclipse.mylyn.docs.intent.collab.ide/bin
/plugins/org.eclipse.mylyn.docs.intent.compare/bin
/plugins/org.eclipse.mylyn.docs.intent.core/bin
/plugins/org.eclipse.mylyn.docs.intent.markup/bin
/plugins/org.eclipse.mylyn.docs.intent.markup.gen/bin
/plugins/org.eclipse.mylyn.docs.intent.parser/bin
/tests/org.eclipse.mylyn.docs.intent.collab.test
/tests/org.eclipse.mylyn.docs.intent.markup.test
/tests/org.eclipse.mylyn.docs.intent.parser.test